body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-grow: 1;
  }
  
  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card h2 {
    margin: 0 0 10px;
  }
  
  .card p {
    color: #666;
  }
  
  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .chart-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 45%;
    text-align: center;
  }
  
  .chart-card h3 {
    margin-bottom: 20px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .access-denied-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(255, 0, 0, 0.1); /* Light red background */
    color: #900; /* Dark red color */
    text-align: center;
    padding: 20px;
}

.access-denied-message {
    background: white; /* White background for the message box */
    border-radius: 8px; /* Rounded corners */
    padding: 40px; /* Padding around the message */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.access-denied-message h2 {
    font-size: 2em; /* Large heading */
    margin-bottom: 10px;
}

.access-denied-message p {
    font-size: 1.2em; /* Slightly larger paragraph text */
}

  